body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:50px 150px;
}
a{
    text-decoration:none;
}
.flex{
    display:flex;
}
div.content{
    background-color: lightsalmon;
    padding:10px 40px;
    width: 77%;
    margin:0 auto;
}
nav.nav{
    display:flex;
    justify-content:space-between;
    margin-bottom:50px;
}
li{
    list-style-type:none;
}
ul.navigation{
    display:flex;
}
ul.navigation li{
   margin-left: 25px;
}
ul.navigation li a{
    color: black;
}
ul.navigation li button{
    color:white;
    background-color: black;
    padding:5px 12px;
    border:none;
    border-radius: 5px;
    outline: none;
}
.intro-image img{
    width:400px;
    height: 300px;
    margin-top: -100px;
    margin-bottom: 50px;
}
div.into{
    margin-bottom:50px;
}
div.intro-text{
    margin-left: 25px;
    width:380px;
}
div.about {
    justify-content: space-between;
    align-items:center;
}
div.text{
    width:380px;
}
div.skills span{
   display:flex;
   word-spacing: 5px;
   justify-content: space-between;
}
div.skills span li {
    margin:3px;
    text-transform: uppercase;
    border:1px solid rgb(0, 0, 0, 0.16);
    border-radius: 5px ;
    padding:2px;
    font-size: 13px;
}