g /* header_old */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .norecipes{
    position:absolute;
    list-style-type: none;
    display:flex;
  }
  .faq_content {
      /*width: 50px; */
      width: 50%;
     padding-top: 10px;  
     padding-bottom: 10px;
      
     
     border-radius: 3px;/*
     align-items:center;
     */
   
     display: flex;
       flex-direction: column;
       /*justify-content: center; */
      /* align-items: center;*/
       gap: 10px;
     /*position: absolute; */
     }
     span{
      /* width:100%; */
       /* padding: 15px 40px; */
       /* margin: 5px; */
       font-size: 20px;
       /* white-space: nowrap; */ 
     }
  --------------------------------------------------------------------------------------------------
  #header {
    background-color: #ff000000;
    width: 100%;
    height: 70px;
    border-top: 5px solid #17aa1c00;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.274);
  }
  
  .logo > img {
    float: left;
    width: 80px;
    height: 100%;
    margin-top: 10px;
    margin-left: 1%;
    /* margin: 10px 20px; */
  }
  /*Navigation of udemy sites start from here8*/
  .main-menu {
    float: left;
    width: 100px;
    /* border:1px solid black;*/
    height: 48px;
    border-left: 1px solid rgba(255, 255, 255, 0.45);
    font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
      Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol;
    font-size: 0.9rem;
    font-weight: 400;
  }
  .main-menu .header_ul .header_cat_list:hover {
    background-color: #f4f4f4;
  }
  
  .main-menu > .header_ul {
    list-style-type: none;
    z-index: 1;
    background-color: wheat;
  }
  .main-menu .header_ul {
    width: 100px;
    display: block;
    height: 47px;
    padding-top: 15px;
    text-align: center;
    background-color: #ffffff;
  }
  .main-menu .header_ul .header.header_ul {
    display: none;
    margin-top: 15px;
    width: 00px;
    clear: both;
  }
  
  .main-menu .header_ul .header_cat_list:hover .header_ul {
    display: block;
  }
  .main-menu .header_ul .header_cat_list .sub-menu {
    border-top: 1px solid #ffffff;
    width: 240px;
  }
  .main-menu .header_ul .header_cat_list .header_ul .header_cat_list {
    display: block;
    padding-left: 10px;
    text-align: left;
    width: 240px;
    height: 40px;
  }
  .main-menu
    .header_ul
    .header_cat_list:hover
    .header_ul
    .header_cat_list
    .header_ul {
    display: none;
  }
  .main-menu
    .header_ul
    .header_cat_list:hover
    .sub-menu
    .header_cat_list:hover
    .sub-menu-1 {
    display: block;
    float: right;
    margin-left: 10px;
    margin-top: -16px;
    padding: 0px;
  }
  .main-menu
    .header_ul
    .header_cat_list:hover
    .sub-menu
    .header_cat_list:hover
    .any1 {
    margin-top: -80px;
  }
  .main-menu
    .header_ul
    .header_cat_list:hover
    .sub-menu
    .header_cat_list:hover
    .any2 {
    margin-top: -96px;
  }
  .main-menu
    .header_ul
    .header_cat_list:hover
    .sub-menu
    .header_cat_list:hover
    .any3 {
    margin-top: -136px;
  }
  .main-menu
    .header_ul
    .header_cat_list:hover
    .sub-menu
    .header_cat_list:hover
    .any4 {
    margin-top: -176px;
  }
  .any1 {
    background-color: #02a2a500;
  }
  #top-bar {
    margin-top: 5px;
  }
  /* search bar css  */
  
  .search-container {
    width: 47%;
    display: block;
    margin: 0 auto;
  }
  
  #search-bar {
    float: left;
    border-radius: 25px;
    margin-left: -23%;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #d0cfce;
    outline: none;
    border: 1px solid #020202;
    color: black;
  }
 
  #search-bar:focus {
    border: 1px solid #0202026e;
    transition: 0.35s ease;
    color: #000000;
  }
  
  .search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
  }
  .Bcm-instructor-btn {
    font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
      Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol;
    font-size: 0.9rem;
    font-weight: 400;
    float: left;
    margin-left: 1%;
    margin-top: 10px;
  }
  .shopping-cart-btn {
    float: left;
    margin-left: 1.5%;
  }
  .shopping-cart-btn > img {
    margin-top: 10px;
    margin-left: 1%;
  }
  .header_login_btn {
    float: right;
    padding: 10px 20px 10px 20px;
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    margin-right: 1%;
    margin-top: 5px;
    font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
      segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol;
    font-weight: 700;
  }
  .header_login_btn:hover {
    opacity: 0.7;
  }
  
  .header_signup_btn {
    float: right;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    background-color: black;
    border: 1px solid #ffffff;
    margin-right: 1%;
    margin-top: 5px;
    font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
      segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol;
    font-weight: 700;
  }
  .topBtn{
    cursor: pointer;
  }
  ---------------------------------------------------------------------------------------------------------------
  /* hero */
  body {
    margin: 0;
    padding: 0;
  }
  .hero {
    position: relative;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/dfd08898-7698-411d-9b27-510fbde547c0.jpg);

    /*background: url(https://img-c.udemycdn.com/notices/web_banner/image_udlite/dc2bc81a-a342-474d-9d09-0ba3c2bfa687.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(100%);
  }
  .hero-content {
    position: relative;
    float: left;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: left;
    margin: 0.625rem;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-right: 60%;
    width: 36%;
    height: 65%;
    box-shadow: 4px 4px 4px 4px rgba(177, 177, 177, 0.726);
  }
  
  .hero-content > h1 {
    font-size: 3rem;
    font-family: SuisseWorks, Georgia, Times, times new roman, serif,
      apple color emoji, segoe ui emoji, segoe ui symbol;
    font-weight: 700;
    letter-spacing: -0.15rem;
    color: black;
  }
  
  .hero-content > p {
    font-size: 1.4rem;
    font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
      Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
      segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    color: black;
  }
  
  .hero-content > input {
    width: 98%;
    height: 50px;
    font-size: 15px;
    border: 1px solid rgb(0, 0, 0);
    color: black;
  }
  /* login */
  .login-cont{
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 15px;
    line-height: 1.43;
    color: #1c1d1f;
    background-color: #fff;
    margin: 0;
    border-radius: 0;
    color: #1c1d1f;
    width: 380px;
    margin: 24px auto;
    max-width: 100%;
    align-items: center;
}
.step1{
    border-bottom: solid 1px #d1d7dc;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #1c1d1f;
    display: block;
    font-weight: 700;
    font-size: 15px;
    padding: 24px 64px 24px 24px;
    margin-bottom: 24px;
}
.fbcolor{
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    box-shadow: 0 2px 2px 0 rgb(28 29 31 / 24%), 0 0 2px 0 rgb(28 29 31 / 12%);
    color: #1c1d1f;    
    color: #fff;
    border-radius: 0;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    margin-bottom: 8px;
    padding: 0;
}
.forone{
    background-color: #1A538A;
}
.fbcolor-inside{
    color:white;
    width:100%;
    display: flex;
    justify-content: left;
    padding: 10px 0;
    background-color:#1A538A;
    
    background-color: transparent;
    font-weight: 400;
    cursor: pointer;
    
}
.colorforthis{
    color:black;
    width:100%;
    display: flex;
    justify-content: left;
    padding: 10px 0 0 4px;            
    background-color: transparent;
    font-weight: 400;
    cursor: pointer;
}
.colorforthis > img{
    margin-left:5px;
}
.form {
    display: block;
    margin-top: 0em;
}
.usermail,.pwdd{
    width: 98%;
    height: 40px;
    color: #1c1d1f;
    font-size: 18px;

}
.usermail{
    margin-bottom: 12px;
}

.newlogclass{
    width: 100%;
    height:50px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid black;
    color:white;
    background-color:#A435F0;
}
.extraafter{
    display: flex;
    justify-content: center;
}
.img1fb{
    margin-top:-9px;
}
.fbcolor-inside,.colorforthis{
    font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-size: 15px;
    line-height: 1.43;
    font-weight: 600;
}
.sss1{
    padding: 0 0 0 15px;
}
.sss2{
    padding: 0 0 0 10px;
}

#Email {
  background-image: url("https://img.icons8.com/material-rounded/20/000000/new-post.png");
  background-size:contain;
  width: 100%;
  background-repeat: no-repeat;
  text-indent: 50px;
  border: 1px solid black;
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
#password {
  background-image: url("https://img.icons8.com/ios-glyphs/30/000000/lock--v1.png");
  width: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  text-indent: 50px;
  border: 1px solid black;
  margin-bottom: 10px;
  font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.extraafter{
font-family: sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
color:black;
}
.dj1{
  font-weight: 400;
  margin-bottom: 30px;
}
.dj1  span,.dj2  span,.dj3 {
  color:#5624d0;
}
.dj2{
  font-weight: 480;
  margin-bottom : 10px;
}
.blueBtn{
background-color: #a435f0;
border-color: transparent;
padding: 4%;
width: 100%;
color: #fff;
font-weight: 700;
font-size: 16px;
margin: 5% 0%;
}
.blueBtn:hover{
background-color: #581C7E;
} */