* {
  padding: 0;
  margin: 0;
 
}
body {
  background-color:rgb(70, 167, 70); 
  height: 100vh;
  width: 100vw;
  

}

.container {
  
  height: 600px;
  margin:  auto;
  width: 40%;
  background-color: #fff; 
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}
.wrap {
  margin:  auto;
  width: 80%;
}

input {
  background: none;
  outline: none;
  padding: 10px; 
  /* margin: 5px 40px; */
  margin-top: 20px;
  width: 90%;
  color: #1b1c1e;
  border: 1px solid gray;
}

.text-div {
  margin-top: 20px;
}

textarea {
  background: none;
  border-bottom: 1px solid gray;
  outline: none;
  width: 90%;
  padding: 10px 10px 50px 10px;
  margin-top: 5px;
}

button {
  background-color: blueviolet;
  padding: 8px;
  font-size: 1.0 rem;
  color: #f3f3f3;
  /*color: #f6f6f6; */
  border: none;
  border-radius: 5px;  
}


.App {
  text-align: center;
}



